<div class="container">

  <h1>{{account.name}} Account</h1>

  <p class="lead">Current Balance: {{account.currency}} {{account.balance}}</p>
 
  <form name="addRecordForm">
    <div class="row">
      <div class="col-xs-2">
        <input type="text" class="form-control" placeholder="Amount" ng-model="record.amount" required/>
      </div>
      <div class="col-xs-2">
        <select class="form-control" ng-model="record.type">
          <option value="0">Expense</option>
          <option value="1">Income</option>
        </select>
      </div>
      <div class="col-xs-2">
        <select class="form-control" ng-model="record.category">
          <option ng-repeat="category in categories">{{category.name}}</option>
        </select>
      </div>
      <div class="col-xs-4">
        <input type="text" class="form-control" placeholder="Description" ng-model="record.description">
      </div>
      <div class="col-xs-2">
        <button type="submit" class="btn btn-primary" ng-click="addRecord(record)">Add</button>
      </div>
    </div>
  </form>
  
  <h1>History</h1>

  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>Category</th>
        <th>Description</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="record in account.records | orderBy:'date':!reverse" class="{{ record.is_expense ? 'danger' : 'success'}}">
        <td>{{record.category}}</td>
        <td>{{record.description}}</td>
        <td>{{record.date | date:'medium'}}</td>
        <td>{{account.currency}} {{record.amount}}</td>
        <td><button type="submit" class="btn btn-danger btn-xs" ng-click="deleteRecord(record)">Delete</button></td>
      </tr>
    </tbody>
  </table>



  <canvas id="canvas" height="450" width="450"></canvas>
  
</div>