<div class="container">
	<h1>LogIn</h1>
	<p class="info">Don't have an account yet? <a href="#/register">Register now!</a></p>

	<form name="logInForm">
	    <div class="row">
	      <div class="col-xs-2">
	        <input type="text" class="form-control" placeholder="Username" ng-model="login.username" required/>
	      </div>
	      <div class="col-xs-2">
	        <input type="text" class="form-control" placeholder="Password" ng-model="login.password" required/>
	      </div>
	     
	      <div class="col-xs-2">
	        <button type="submit" class="btn btn-primary" ng-click="logIn(login)">Log In</button>
	      </div>
	    </div>
	</form>
  
</div>