<div class="container">
	<h1>Register</h1>
	<form name="registerForm">
	    <div class="row">
	      <div class="col-xs-2">
	        <input type="text" class="form-control" placeholder="Username" ng-model="user.username" required/>
	      </div>
	      <div class="col-xs-2">
	        <input type="text" class="form-control" placeholder="Password" ng-model="user.password" required/>
	      </div>
	     
	      <div class="col-xs-2">
	        <button type="submit" class="btn btn-primary" ng-click="register(user)">Register</button>
	      </div>
	    </div>
	</form>
  
</div>